.card{
    width: 13rem;
    margin: auto;
    text-align: center;
}
.cardCol{
  padding: 5px
}
.teamContainer{
  max-height: 95vh;
    text-align: center;
    align-items: center;
}
.modalCard{
  margin: 5px;
}
.modal-dialog{
  max-width: 100vw;
}
.teamRow{
  margin: 15px;
}
.teamDropDown{
  margin: 10px;
  text-align: left;
}
.fullScreen{
  height: 90%
}
.teamViewButton{
  margin: 10px
}
.searchModal{
  overflow: scroll;
}
.modalRow{
  background-color: rgba(0,0,0,.9);
  padding: 5px
}