.card{
    width: 11rem;
    margin: auto;
}
.teamContainer{
  max-height: 85vh;
    text-align: center;
    align-items: center;
}
.modalCard{
  margin: 5px;
}
.modal-dialog{
  max-width: 100vw;
}
.teamRow{
  margin: 15px;
}