.playerPic{
  height: auto;
  width: 100%;
  margin: auto
}
.playerName{
  margin: 0px;
  padding: 0px
}
.overall{
  width: 25%;
  text-align: center;
  font-size: x-large;
  color: white;
  -webkit-text-stroke-width: .2px;
  -webkit-text-stroke-color: black;
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 20%;
}
.diamond{
  background-image: linear-gradient(45deg, #022470, #319ae2);
}
.gold{
  background-image: linear-gradient(45deg, #594300, #e3b412);
}
.silver{
  background-image: linear-gradient(45deg, #302f2f, #a4a2a3);
}
.bronze{
  background-image: linear-gradient(45deg, #744535, #c2875a);
}
.common{
  background-color: black;
}
.cardCol{
  padding: 0px
}
.removeButton{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: red;
  padding: 3px;
  font-size: 20px;
}