.navbarMain{
    color: white;
    background-color: black;
}
.appName{
    text-align: left;
}
.navbarButtons{
    text-align: right;
}
.btnStyle{
    margin: 5px
}
.col{
  margin: 0px
}
.row{
  margin: 0px
}